@import './vars.scss';

*,
*::before,
*::afte {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    max-width: 1512px;
    margin: 0 auto;
}
.container {
    max-width: 1336px;
}