@import './vars.scss';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--first-family);
    font-size: 16px;
}
.wrapper {
    max-width: 1512px;
    min-height: 100vh;
    margin: 0 auto;
    background-color: var(--FLORAL-WHITE);
}
.container {
    max-width: 1376px;
    margin: 0 auto;
    padding: 0 20px;
}
.flex {
    display: flex;
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 117px;
    width: 100%;
    height: 44px;
    border-radius: 200px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    border: 1px solid var(--RAISIN-BLACK);
    outline-color: var(--OCEAN-BOAT-BLUE);
}

// Header Section
.header-row {
    align-items: center;
    flex-wrap: wrap;
    min-height: 128px;
}
.logo {
    outline-color: var(--OCEAN-BOAT-BLUE);
}
.logo img {
    display: block;
}
.menu {
    margin-left: auto;
}
.nav {
    align-items: center;
    flex-wrap: wrap;
}
.nav-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    text-decoration: none;
    color: var(--RAISIN-BLACK);
    margin-right: 48px;
    transition: ease-in-out .2s;
    outline-color: var(--OCEAN-BOAT-BLUE);
    &:hover {
        color: var(--ANDROID-GREEN);
    }
    &:focus {
        color: var(--ANDROID-GREEN);
    }
}
.right-btns {
    width: 300px;
    flex-wrap: wrap;
    column-gap: 16px;
}
.know-btn {
    color: var(--RAISIN-BLACK);
    transition: ease-in-out .2s;
    &:hover {
        background-color: var(--RAISIN-BLACK);
        color: var(--WHITE);
    }
}
.contact-btn {
    max-width: 166px;
    color: var(--WHITE);
    background-color: var(--RAISIN-BLACK);
    transition: ease-in-out .2s;
    &:hover{
        color: var(--RAISIN-BLACK);
        background-color: var(--WHITE);
    }
}

// Hero Section
.hero {
    padding: 96px 0
}
.hero-content {
    flex-direction: column;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto 64px;
}
.hero-free-btn {
    max-width: 114px;
    height: 28px;
    font-weight: 500;
    font-size:  14px;
    line-height: 20px;
    color: var(--CHARCOAL);
    border-radius: 16px;
    background-color: var(--ANTI-FLASH-WHITE);
    border: none;
    transition: ease-in-out .2s;
    margin-bottom: 16px;
    &:hover {
        background-color: var(--LIGHT-GRAY)
    }
}
.hero-title {
    font-family: var(--second-family);
    font-weight: 300;
    font-size: 72px;
    line-height: 82px;
    text-align: center;
    text-transform: capitalize;
    color: var(--DARK-JUNGLE-GREEN);
    margin-bottom: 24px;
}
.hero-desc {
    max-width: 720px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: var(--AUROMETALSAURUS);
    text-align: center;
    margin-bottom: 48px;
}
.hero-btns {
    max-width: 286px;
    width: 100%;
    column-gap: 12px;
}
.hero-btns a {
    height: 60px;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    transition: ease-in-out .2s;
}
.hero-more {
    max-width: 150px;
    color: var(--CHARCOAL);
    &:hover {
        background-color: var(--SMOKY-BLACK);
        color: var(--WHITE);
    }
}
.hero-register {
    max-width: 124px;
    color: var(--WHITE);
    background-color: var(--SMOKY-BLACK);
    &:hover {
        color: var(--CHARCOAL);
        background-color: var(--WHITE);
    }
}
.hero-img {
    justify-content: center;
}
.hero-img img {
    max-width: 1216px;
    width: 100%;

}

// Join Section
.join-question {
    padding: 96px 0;
}
.join-question-row {
    column-gap: 56px;
    justify-content: center;
}
.join-question-title {
    max-width: 612px;
    width: 100%;
    min-height: 280px;
    font-family: var(--second-family);
    font-weight: 300;
    font-size: 64px;
    line-height: 72px;
    color: var(--RAISIN-BLACK);
    padding: 96px 0 40px 0;
    letter-spacing: -2px;
    border-top: 3px solid var(--FLAME);
    position: relative;
}
.join-question-title::before {
    content: '';
    width: 40px;
    height: 40px;
    position: absolute;
    top: 32px;
    background-image: url('../img/question-1.svg');
}
.join-question-title:last-child{
    margin-top: 136px;
    border-top: 3px solid var(--OCEAN-BOAT-BLUE);
}
.join-question-title:last-child::before {
    background-image: url('../img/question-2.svg');
}
.join-content {
    padding: 96px 0;
    background-color: var(--CYBER-YELLOW);
}
.join-content-row {
    flex-direction: column;
    align-items: center;
}
.join-content-title {
    font-family: var(--second-family);
    font-weight: 300;
    font-size: 50px;
    line-height: 50px;
    letter-spacing: -2px;
    color: var(--RAISIN-BLACK);
    margin-bottom: 20px;
}
.join-content-desc {
    max-width: 684px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: var(--RAISIN-BLACK);
    margin-bottom: 40px;
    text-align: center;
}
.join-content-btn {
    max-width: 93px;
    height: 48px;
    font-weight: 500;
    line-height: 24px;
    background-color: var(--RAISIN-BLACK);
    color: var(--WHITE);
    transition: ease-in-out .2s;
    &:hover {
        color: var(--RAISIN-BLACK);
        background-color: var(--WHITE);
    }
}

// Meet Section
.meet {
    min-height: 720px;
}
.meet-row {
    align-items: center;
}
.meet-content {
    flex-direction: column;
    align-items: center;
    max-width: 756px;
    width: 100%;
}
.meet-content-presenter-btn {
    max-width: 85px;
    height: 28px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: var(--CHARCOAL);
    background-color: var(--ANTI-FLASH-WHITE);
    border: none;
    transition: ease-in-out .2s;
    margin-bottom: 24px;
    &:hover {
        background-color: var(--LIGHT-GRAY)
    }
}
.meet-content-title {
    font-family: var(--second-family);
    font-weight: 300;
    font-size: 50px;
    line-height: 38px;
    color: var(--SMOKY-BLACK);
    margin-bottom: 32px;
}
.meet-content-desc {
    max-width: 416px;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: var(--SMOKY-BLACK);
    margin-bottom: 32px;
}
.meet-content-about-btn {
    max-width: 165px;
    height: 48px;
    font-weight: 400;
    line-height: 24px;
    color: var(--WHITE);
    background-color: var(--RAISIN-BLACK);
    transition: ease-in-out .2s;
    &:hover {
        color: var(--RAISIN-BLACK);
        background-color: var(--WHITE);
    }
}
.meet-img img {
    max-width: 756px;
    width: 100%;
    display: block;
}

// Resouce Card
.resource {
    padding: 96px 0 120px;
}
.resource-title {
    text-align: center;
    font-family: var(--second-family);
    font-weight: 300;
    font-size: 50px;
    line-height: 72px;
    letter-spacing: -2px;
    color: var(--RAISIN-BLACK);
    margin-bottom: 64px;
}
.resource-row {
    column-gap: 32px;
    justify-content: center;
    flex-wrap: wrap;
}
.resouce-card {
    flex-direction: column;
    align-items: center;
    max-width: 384px;
    min-height: 348px;
}
.resouce-card-img {
    max-width: 330px;
    min-height: 222px;
    margin-bottom: 24px;
}
.resource-card-title {
    font-family: var(--second-family);
    font-weight: 300;
    font-size: 32px;
    line-height: 30px;
    color: var(--RAISIN-BLACK);
    margin-bottom: 24px;
}
.resouce-card-desc {
    text-align: center;
    font-weight: 400;
    line-height: 24px;
    color: var(--RAISIN-BLACK);
}

// Coach Section
.coach {
    padding: 96px 0;
}
.coach-row {
    justify-content: center;
    align-items: center;
    column-gap: 65px;
}
.coach-content {
    max-width: 576px;
}
.coach-title {
    font-family: var(--second-family);
    font-weight: 300;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -2px;
    color: var(--DARK-JUNGLE-GREEN);
    margin-bottom: 48px;
    position: relative;
}
.coach-title::before {
    content: '';
    width: 44px;
    height: 45px;
    position: absolute;
    top: -93px;
    left: 0;
    background-image: url('../img/coach-comment.svg');
    background-repeat: no-repeat;
}
.coach-btn {
    max-width: 135px;
    width: 100%;
    height: 44px;
    color: var(--WHITE);
    background-color: var(--RAISIN-BLACK);
    transition: ease-in-out .2s;
    &:hover {
        color: var(--RAISIN-BLACK);
        background-color: var(--WHITE);
    }
}
.coach-img img{
    max-width: 576px;
    width: 100%;
    display: block;
}